h1 {
	font-family: sans-serif;
	font-size: 60px;
	text-align: center;
    max-width: 1400px;
    margin: 0 0 0 140px;
    padding: 20px 0;
}

h2 {
	font-family: sans-serif;
	font-size: 40px;
	text-align: center;
    margin: 0;
	padding: 10px 0;
}

h3 {
	font-family: sans-serif;
	font-size: 25px;
	text-align: center;
    margin: 0;
	padding: 0 0 5px 0;
}

p {
    color: #000;
	font-family: serif;
	font-size: 20px;
	padding: 5px 1%;
	margin: 0;
    border-style: none double;
}

img {
    max-width: 200px;
    margin: 20px 40px;
}

body {
	width: 90%;
    max-width: 1700px;
    min-width: 750px;
    margin: 0 0 0 5%;
	padding: 0;
    /*https://depositphotos.com/8441617/stock-photo-rough-cotton-fabric-texture.html*/
    background-image: url('../../media/Rough cotton.png');
    background-color: #FDA;
}

header {
    background-color: inherit;
    width: 100%;
    overflow: auto;
}

nav {
    position: sticky;
	top: 50px;
    width: 200px;
	margin: 0;
    padding: 0;
	float: left;
}

nav * {
	list-style-type: none;
    text-shadow: 0 0 5px #fff;
	text-decoration: none;
    border: none;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav a, .button {
	color: #653;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
    margin: 0;
    padding: 10px;
    overflow: auto;
}

nav div a {
	font-size: 17px;
	padding: 7px 13px;
}

nav li, nav a {
    display: block;
}

nav a:hover, .button:hover, .active {
    color: #FEC;
}

nav a:hover, .button:hover, nav div a {
    background-color: #CA7;
}

.active:hover {
    background-color: #0003;
}

nav .active {
    background-color: #CA7;
}

.button {
    width: 200px;
    background-color: #FDA;
    cursor: pointer;
}

.collapsibleContent {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

main {
    background-color: inherit;
    padding: 0 0 30px 200px;
}

article {
    background-color: inherit;
    border-style: none none solid none;
    max-width: 1200px;
    padding: 0;
	margin: 0 5%;
}

.articleHeader {
	position: sticky;
	top: 0;
    background-color: inherit;
    border-style: none none solid none ;
	width: 100%;
	margin: 0;
	padding: 0;
}

.articleHeader a {
    color: #000;
	font-family: sans-serif;
	font-size: 25px;
    text-align: center;
    text-decoration: none;
    border-color: #CA7;
    border-style: ridge;
    border-radius: 10px;
    margin: 20px 0;
	padding: 0.5%;
}

.articleHeader a:hover {
    color: #FEC;
	background-color: #CA7;
	text-shadow: 0 0 5px #fff;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

html {
    scroll-behavior: smooth;
}
    
.letter p {
    color: #000A;
	font-family: cursive;
    /*https://depositphotos.com/31532283/stock-photo-seamless-paper-texture.html*/
    background-image: url('../../media/Paper texture.png');
}

.foreword p {
    border-style: none;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.parallax {
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none double;
}

.gallipoliLanding{
    /*https://www.history.com/news/8-things-you-may-not-know-about-the-gallipoli-campaign*/
    background-image: url('../../media/Gallipoli landing.png');
}

.gallipoli{
    /*https://www.history.com/news/7-brilliant-military-retreats*/
    background-image: url('../../media/Gallipoli.png');
}

.sommeTrenches{
    /*https://www.theglobeandmail.com/news/national/why-july-1-means-something-very-different-for-newfoundland-andlabrador/article30717153/*/
    background-image: url('../../media/Battle of Somme trenches.png');
}

.sommeMap{
    /*https://www.theglobeandmail.com/news/national/why-july-1-means-something-very-different-for-newfoundland-andlabrador/article30717153/*/
    background-image: url('../../media/Battle of Somme map.png');
}

form {
    width: 420px;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 80px 20px 300px;
    grid-gap: 10px;
    align-content: center;
}

form input {
    grid-column: 2 / span 2;
    font-family: serif;
    color: #000;
    font-size: 20px;
    overflow: auto;
}

.messageField {
    height: 200px;
}

.checkBox {
    grid-column: 2;
    text-align: left;
}

.checkBoxLabel {
    grid-column: 3;
    text-align: left;
}

label {
	text-align: right;
    font-family: serif;
    color: #000A;
	font-size: 20px;
}

footer {
	height: 80px;
	margin: 0 0 50px 0;
    padding: 10px 0 0 20px;
	background-image: linear-gradient(#FDA, #0000);
}