h1 {
	text-align: center;
	font-size: 60px;
	font-family: sans-serif;
    height: 200px;
    margin: 0;
    !padding: 0;
    overflow: hidden;
}

h2 {
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
    margin: 0;
	padding: 10px 0;
}

h3 {
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
    margin: 0;
	padding: 0 0 5px 0;
}

p {
	font-family: serif;
    color: #000A;
	font-size: 20px;
	padding: 5px 10px;
	margin: 0;
    background-color: #EC9;
    border-style: none double;
}

img {
    position: relative;
    width: 100px;
    margin: 20px 20px;
    float: left;
}

body {
	margin: 0 0 0 5%;
	padding: 0;
	width: 90%;
	background-color: #B97; /*!this needs to match colour for header and footer;*/
}

header {
    position: fixed;
    vertical-align: middle;
    top: 0;
    background-color: #FDA;
    width: 90%;
    height: 200px;
    z-index: 1;
}

nav {
    position: sticky;
	top: 200px;
	list-style-type: none;
    width: 200px;
	margin: 0;
    padding: 0;
	float: left;
    z-index: 1;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: left;
    padding: 10px;
	color: #653;
    overflow: auto;
}

nav li li {
	font-size: 18px;
	padding: 7px;
}

nav a {
	text-decoration: none;
    display: block;
	color: #653;
}

nav li:hover {
    color: #FEC;
	background-color: #0003;
	text-shadow: 0 0 0.5vw #fff;
}

main {
    padding: 200px 0 30px 200px;
    background-color: #FDA;
}

article {
    padding: 0;
	margin: 0 5% 0 5%;
    background-color: inherit;
    border-style: none none solid none;
}

.letter p {
	font-family: cursive; /* specify font*/
    background-color: #EC9;
}

.postcard p {
	font-family: cursive; /* specify font*/
    background-color: #EC9;
}

.foreword p {
    background-color: #FDA;
    border-style: none;
}

.articleHeader {
	position: sticky;
    background-color: #FDA;
	height: auto; /* set this correctly*/
	width: 100%;
	padding: 0;
	top: 200px;
	padding: 0;
	margin: 0;
    border-style: none none solid none ;
}

footer {
	height: 80px;
	margin: 0 0 50px 0;
    padding: 10px 0 0 20px;
	background-image: linear-gradient(#FDA, #B97); /*last colour needs to match colour for body and .header;*/
}